<div class="container-fluid">
  <div class="row">
      <div class="col-lg-12">

      <div class="row mt-3">
        <div class="col-lg-12 d-flex">
          <h4 class="mb-0 d-flex">My Books</h4>
          <button class="btn btn-primary ms-auto"><i class="bi bi-plus"></i> Add New Book</button>
        </div>
      </div>
      
      <hr>

        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table" id="myBooksTable">
                <thead>
                  <tr>
                    <th scope="col">Book ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Ratings</th>
                    <th scope="col">Price</th>
                    <th scope="col">Reading Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let oneBook of booksList">
                    <th scope="row">{{ oneBook.bookId }}</th>
                    <td>
                        <b>{{ oneBook.bookTitle }}</b>
                        <br>
                        <small>{{ oneBook.bookDesc }}</small>
                    </td>
                    <td>{{ oneBook.authorName }}</td>
                    <td>{{ oneBook.ratings }}</td>
                    <td>{{ oneBook.price }}</td>
                    <td>{{ oneBook.readStatus }}% Completed</td>
                    <td>
                      <button class="btn btn-primary"><i class="bi bi-eye"></i> View</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>